#editor{
    margin-top: 2%;
    height: 100vh;
}
#folder-input-box
{
    display: none;
}
.logo{
    height: 50px;
    width: 50px;
}
footer{
    margin-top: 2%;
}
.nav-link{
    cursor: pointer;
}
.form-select,.nav-item{
    margin: 10px;
}

.form-select{
    width: 200px;
}
.container {
    max-width: 1100px;
    padding: 10px;
}
#editor-sec{
    background-color: #212529;
    font-family: 'Source Code Pro', monospace;
}
#ftitle{
    color: white;
}