#editor{
    margin-top: 2%;
    height: 100vh;
}
#folder-input-box
{
    display: none;
}
.logo{
    height: 50px;
    width: 50px;
}
footer{
    margin-top: 2%;
}
.nav-link{
    cursor: pointer;
}
.form-select,.nav-item{
    margin: 10px;
}
.nav-item:hover{

}